<h1>キューポイントの詳細</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @cuepoint.id %></td>
  </tr>
  <tr>
    <th>name</th>
    <td><%= @cuepoint.name %></td>
  </tr>
  <tr>
    <th>created_at</th>
    <td><%= @cuepoint.created_at %></td>
  </tr>
  <tr>
    <th>updated_at</th>
    <td><%= @cuepoint.updated_at %></td>
  </tr>
</table>
<p>
  VAST URL : <%= link_to vast_url(@cuepoint), vast_url(@cuepoint), target: '_blank' %>
</p>

<br>
<%= link_to "戻る", cuepoints_path(@cuepoint), class: "btn btn-default" %>
<%= link_to "編集", edit_cuepoint_path(@cuepoint), class: "btn btn-default" %>
